<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Default Title{% endblock %}</title>

    <!-- Add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script async src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Add own css and js -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/utils.js') }}"
    ></script>
    <script
      defer
      src="{{ url_for('static', filename='js/header.js') }}"
    ></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav_bar.css') }}"
    />
    <script
      src="https://unpkg.com/jsts@1.6.1/dist/jsts.min.js"
      integrity="sha512-7F6vlttNETY5lD64t595bdoWI5/7M3CYad95lX+4iY5fiDqy5AU7YHR7N5qsR22g8mVZFnKJQ3l6bIrIozRqcA=="
      crossorigin=""
    ></script>

    {% block import %}{% endblock %}
  </head>
  <body>
    <header id="header">
      <nav>
        <input type="checkbox" id="anim-menu" />
        <label for="anim-menu" class="anim-icon">
          <div class="anim-menu"></div>
        </label>
        <div class="anim-nav">
          {% if user.is_authenticated %}
          <a href="/logout" class="navlink" id="logout">Logout</a>
          {% else %}
          <a href="/login" class="navlink" id="login">Login</a>
          <a href="/sign-up" class="navlink" id="signUp">Sign Up</a>
          {% endif %}
          <a href="/" class="navlink" id="about">Hilfe</a>
          <a href="/impressum" class="navlink" id="impressum">Impressum</a>
        </div>
      </nav>
      <p style="white-space: pre-wrap; margin-left: auto; margin-right: 5px">
        |
      </p>
      <a class="header-link" onclick="go_to_map()">Zur Karte</a>
      <p style="white-space: pre-wrap; margin-left: 5px">|</p>

      <div class="profile-div" onclick="profile({{ user.id }})"></div>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer></footer>
  </body>
</html>
