{% extends "base.html" %} {% block title %}Teneriffa Wiki{% endblock %} {% block
content %}
<div class="section hero-page">
  <h1>Willkommen zur Teneriffa Karte</h1>
  <h3 style="margin: 10px">Der interaktive Exkursionsbericht</h3>
  <div class="flex-row">
    {% if not user.is_authenticated %}
    <form action="/login">
      <button type="submit" class="hero-button">Anmelden</button>
    </form>
    <form action="/sign-up">
      <button type="submit" class="hero-button">Registrieren</button>
    </form>
    {% else %}
    <div class="flex-row" style="margin-top: auto">
      <form action="/home">
        <button type="submit" class="hero-button">Zur Karte</button>
      </form>
    </div>
    {% endif %}
  </div>
  <h3 style="margin-top: auto; margin-bottom: 20px">
    Scrollen für weitere Informationen
  </h3>
  <div class="arrows-down"></div>
</div>
<div class="section yellow">
  <div class="flex-row" style="width: 80%">
    <div class="one_thirds">
      <img class="img-crop" src="../static/images/group_photo.jpg" />
    </div>
    <div class="two_thirds">
      <p style="margin: 20px 0">
        Dies ist die Website zur großen Geländeübung, welche im März 2022 auf
        Teneriffa stattfand.
      </p>
      <p style="margin: 20px 0">
        Auf der Karte werden alle auf der Insel gefahrenen Routen angezeigt
        sowie die Orte, welche im Rahmen der Geländeübung besichtigt wurden.
        Zusätzlich wird auf der Karte auch identifizierte Vegetation verortet.
        Die besichtigten Orte werden nach thematischem Inhalt sowie Vegetation
        nach Vegetationszone unterschiedlich eingefärbt auf der Karte angezeigt.
        Durch den Slider im linken unteren Karteneck können entweder die Daten
        aller Tage oder eines einzelnen Tages eingeblendet werden. Durch das
        Layer-Symbol rechts oben können die drei Datenthemen ein- bzw.
        ausgeschalten werden. Standardmäßig sind die Routen und besuchten Orte
        aktiviert, die identifizierte Vegetation jedoch zunächst ausgeblendet.
      </p>
      <p style="margin: 20px 0">
        Sobald sich der Mauszeiger über einem Punkt befindet, so wird ein
        Übersichtsbild sowie Name des Punktes eingeblendet. Stellt der Punkt
        identifizierte Vegetation dar, so kann mit einem klick auf den Namen das
        verknüpfte Pflanzenprofil auf ‚Pl@ntNet‘ aufgerufen werden. Stellt der
        Punkt einen besichtigten Ort dar, so wird mit einem Klick auf diesen
        alle Uploads anderer Teilnehmer zu diesem Ort eingeblendet. Außerdem
        können selbst weitere Bilder und Kommentare hinzugefügt werden. Auf
        diese Weise entsteht ein interaktiver, gemeinschaftlicher
        Exkursionsbericht.
      </p>
      <p style="margin: 20px 0">
        Der Quellcode für diese Website findet sich offen unter unserem
        <a href="https://github.com/ElJocho/tenerife_wiki">github</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
